name: Android CI

on:
  push:
    tags: [ "v2.0.6" ]
  pull_request:
    tags: [ "v2.0.6" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 11
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
    - uses: actions/upload-artifact@v4
      with:
        name: my-artifact
        path: '**/*.apk'
